In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

df_inpatient01 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Inpatient\IN_WL 2018.csv")
df_inpatient02 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Inpatient\IN_WL 2019.csv")
df_inpatient03 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Inpatient\IN_WL 2020.csv")
df_inpatient04 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Inpatient\IN_WL 2021.csv")

df_inpatient = pd.concat([df_inpatient01, df_inpatient02, df_inpatient03, df_inpatient04], ignore_index=True)

df_inpatient.head()

,Archive_Date,Specialty_HIPE,Specialty_Name,Case_Type,Adult_Child,Age_Profile,Time_Bands,Total,Unnamed: 8
0,31-01-2018,0,Small Volume Specialities,Inpatient,Child,0-15,6-9 Months,1,NaN
1,31-01-2018,0,Small Volume Specialities,Inpatient,Child,16-64,9-12 Months,1,NaN
2,31-01-2018,400,Endocrinology,Day Case,Child,0-15,3-6 Months,1,NaN
3,31-01-2018,400,Endocrinology,Day Case,Child,0-15,12-15 Months,1,NaN
4,31-01-2018,600,Otolaryngology (ENT),Day Case,Child,0-15,0-3 Months,14,NaN

In [2]:
df_inpatient.columns

Index(['Archive_Date', 'Specialty_HIPE', 'Specialty_Name', 'Case_Type',
       'Adult_Child', 'Age_Profile', 'Time_Bands', 'Total', 'Unnamed: 8'],
      dtype='object')

In [3]:
df_inpatient.drop(columns=['Unnamed: 8'], inplace=True)

In [4]:
df_inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182136 entries, 0 to 182135
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Archive_Date    182136 non-null  object
 1   Specialty_HIPE  182136 non-null  int64
 2   Specialty_Name  182136 non-null  object
 3   Case_Type       182136 non-null  object
 4   Adult_Child     182136 non-null  object
 5   Age_Profile     182136 non-null  object
 6   Time_Bands      182136 non-null  object
 7   Total           182136 non-null  int64
dtypes: int64(2), object(6)
memory usage: 11.1+ MB

In [5]:
df_outpatient01 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Outpatient\Op_WL 2018.csv")
df_outpatient02 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Outpatient\Op_WL 2019.csv")
df_outpatient03 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Outpatient\Op_WL 2020.csv")
df_outpatient04 = pd.read_csv(r"C:\Users\Mohamed Fawzi\Desktop\Health Care Analysis\Outpatient\Op_WL 2021.csv")

df_outpatient =  pd.concat([df_outpatient01, df_outpatient02, df_outpatient03, df_outpatient04], ignore_index=True)

df_outpatient.head()

,Archive_Date,Specialty_HIPE,Speciality,Adult_Child,Age_Profile,Time_Bands,Total
0,31-01-2018,100.0,Cardiology,Child,0-15,0-3 Months,167
1,31-01-2018,100.0,Cardiology,Child,0-15,3-6 Months,157
2,31-01-2018,100.0,Cardiology,Child,0-15,6-9 Months,106
3,31-01-2018,100.0,Cardiology,Child,0-15,9-12 Months,85
4,31-01-2018,100.0,Cardiology,Child,0-15,12-15 Months,83

In [6]:
df_outpatient.rename(columns={'Speciality' : 'Specialty_Name'}, inplace=True)

df_outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270983 entries, 0 to 270982
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Archive_Date    270983 non-null  object
 1   Specialty_HIPE  270792 non-null  float64
 2   Specialty_Name  270983 non-null  object
 3   Adult_Child     270983 non-null  object
 4   Age_Profile     270808 non-null  object
 5   Time_Bands      270981 non-null  object
 6   Total           270983 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 14.5+ MB

In [7]:

# Sample merge using a common key
df_merged = pd.merge(df_outpatient, df_inpatient, 
                     on=['Archive_Date', 'Specialty_HIPE', 'Specialty_Name', 'Adult_Child', 
                         'Age_Profile', 'Time_Bands', 'Total'], 
                     how='outer')

df_merged['Case_Type'].unique()

array(['Day Case', 'Inpatient', nan], dtype=object)

In [8]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452991 entries, 0 to 452990
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Archive_Date    452991 non-null  object
 1   Specialty_HIPE  452800 non-null  float64
 2   Specialty_Name  452991 non-null  object
 3   Adult_Child     452991 non-null  object
 4   Age_Profile     452816 non-null  object
 5   Time_Bands      452989 non-null  object
 6   Total           452991 non-null  int64
 7   Case_Type       182710 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 27.6+ MB

In [9]:
df_merged['Archive_Date'] = pd.to_datetime(df_merged['Archive_Date'], errors='coerce')

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452991 entries, 0 to 452990
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Archive_Date    452991 non-null  datetime64[ns]
 1   Specialty_HIPE  452800 non-null  float64
 2   Specialty_Name  452991 non-null  object
 3   Adult_Child     452991 non-null  object
 4   Age_Profile     452816 non-null  object
 5   Time_Bands      452989 non-null  object
 6   Total           452991 non-null  int64
 7   Case_Type       182710 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.6+ MB

In [10]:
df_merged.to_excel('merged_data.xlsx', index=False)
df_merged.to_csv('merged_data.csv', index=False)